#sidebar-small{
    height:92vh;
    width: 70px;
    display: flex;
    flex-direction: column;
    background-color: rgb(32,32,32);
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    border: none;
 
    position: sticky;
    top: 55px;
  
    caret-color: rgba(0,0,0,0);
    }
    #sidebar-small div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    #sidebar-small div i{
        font-size: 23px;
        color: rgb(208, 206, 206);
    }
    #sidebar-small div:nth-child(1) i {
        margin-top: 25px;
    }
    
    .sidebar-icon-title{
        font-size: 11px;
        color: rgb(216, 215, 215);
        margin-top: 8px;
        
    }